# Compiled binary addons
build/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
.vscode
.idea

# OS
.DS_Desktop
